@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

:root {
  --primary: #3d5a80;
  --secondary: #98c1d9;
  --ternary: #e0fbfc;
  --warning: #ee6c4d;
  --dark: #293241;
}

* {
  font-family: 'Akaya Telivigala', cursive;
}

html,
body {
  background-color: var(--primary);
  color: var(--ternary);
  font-size: 20px;
  margin: 0;
  padding: 0;
}

header.main {
  align-items: center;
  background-color: var(--dark);
  display: flex;
  height: 60px;
  justify-content: center;
}
h1 {
  font-size: 1.8rem;
  margin: 0;
}

table {
  border-spacing: 0;
  margin: 60px auto;
  max-width: 600px;
  width: 100%;
}

th,
td {
  background-color: #2e4560;
  padding: 20px;
  text-align: center;
}
th {
  padding: 10px;
}
td {
  border-top: 1px solid var(--primary);
}
th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid var(--primary);
}
th:first-child {
  background-color: transparent;
}
tbody td:not(:first-child) {
  background-color: #5075a5;
}
