@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Poppins&display=swap');

:root {
  /* font-size: 62.5%;
  line-height: 1.5; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

* {
  font-family: Poppins, sans-serif;
}

html {
  background-color: #222;
  color: #dddfed;
}

body {
  margin: 0 auto;
  max-width: 500px;
  padding: 0;
}

h1 {
  font-weight: normal;
  text-align: center;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

.btn, button {
  background-color: rgb(93, 134, 197);
  border: none;
  border-radius: 4px;
  color: #dddfed;
  cursor: pointer;
  font-size: 1rem;
  padding: 12px 24px;
  text-decoration: none;
  transition: background-color 0.25s;
}

.btn:hover, button:hover {
  background-color: rgb(93, 134, 197, 0.8);
}

button:disabled {
  background-color: #999;
  color: #ccc;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #888;
}

.selected {
  background-color: rgb(129, 108, 159);
}
.selected:hover {
  background-color: rgb(129, 108, 159, 0.8);
}

.sr {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0.1rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.1rem;
}